<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{subtitle}} | HubToDate">
    <style type="text/css">
      {{css}}
    </style>

    {{#code}}
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/solarized-dark.min.css"
      />
    {{/code}}
  </head>
  <body>
    {{#code}}
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js"
        async
      ></script>
      <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", event => {
          document.querySelectorAll("pre").forEach(block => {
            hljs.highlightBlock(block);
          });
        });
      </script>
    {{/code}}

    <div id="___top"></div>
    {{#body}}
      {{{ . }}}
    {{/body}}
  </body>
</html>
